
<div class="container"></div>
<mat-toolbar color="">
  <mat-toolbar-row>
    <router-outlet></router-outlet>
    <button mat-button routerLink="formularioI">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button (click)="showFilters1()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-button><mat-icon>search</mat-icon></button>
    <input
      name="criteria"
      (keyup)="filterByCriteria()"
      class="form-control"
      type="text"
      [(ngModel)]="criteria"
      placeholder="Buscar Por CI o Nombre"
    />

  </mat-toolbar-row>
</mat-toolbar>

<br />
<br />
<!----------------------------------------------------------Primera----Columna---Filtros------------------------------------------------------------------------------------------------->
<div *ngIf="activeFilter" class="container-fluid">
  <form>
    <router-outlet></router-outlet>
    <div class="row">
      <div class="col">
        <div class="form-control">
          <label>Nombre:</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="workerExample.firstName"
            />
            <button class="btn btn-warning" (click)="vaciarName()">
              Vaciar
            </button>
          </div>
          <br />
        </div>
      </div>
      <div class="col">
        <div class="form-control">
          <label for="race">Raza:</label>
          <div class="input-group mb-3">
            <select
              class="form-select"
              name="race"
              [(ngModel)]="workerExample.race"
            >
              <option [value]="item" *ngFor="let item of listaRaza">
                {{ item }}
              </option>
            </select>
            <button class="btn btn-warning" (click)="vaciarRace()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-control">
          <label for="sex">Sexo:</label>
          <div class="input-group mb-3">
            <select
              class="form-select"
              name="sex"
              [(ngModel)]="workerExample.sex"
            >
              <option [value]="item" *ngFor="let item of listaSexo">
                {{ item }}
              </option>
            </select>
            <button class="btn btn-warning" (click)="vaciarSex()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!----------------------------------------------------------------Segunda--Columna--Filtros---------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col">
        <div class="form-control">
          <label>Primer Apellido:</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="sname"
              [(ngModel)]="workerExample.secondName"
            />
            <button class="btn btn-warning" (click)="vaciarSName()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-control">
          <label for="race">Tipo de Contrato:</label>
          <div class="input-group mb-3">
            <select
              class="form-select"
              name="contract"
              [(ngModel)]="workerExample.contractType"
            >
              <option [value]="item" *ngFor="let item of listaContrato">
                {{ item }}
              </option>
            </select>
            <button class="btn btn-warning" (click)="vaciarCon()">
              Vaciar
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-control">
          <label for="defense">Lugar En la Defenza:</label>
          <div class="input-group mb-3">
            <select
              class="form-select"
              name="defense"
              [(ngModel)]="workerExample.defensePlace"
            >
              <option [value]="item" *ngFor="let item of listaDefensa">
                {{ item }}
              </option>
            </select>
            <button class="btn btn-warning" (click)="vaciarDef()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------Tercera---Fila--Filtros----------------------------------------------------------------------------------->
    <br />
    <div class="row">
      <div class="col">
        <div class="form-control">
          <label>Segundo Apellido:</label>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="lname"
              [(ngModel)]="workerExample.lastName"
            />
            <button class="btn btn-warning" (click)="vaciarlName()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-control">
          <label for="expN">Numero de Exp:</label>
          <div class="input-group mb-3">
            <input
              class="form-select"
              name="expN"
              [(ngModel)]="workerExample.expedientNumber"
              type="text"
            /><button class="btn btn-warning" (click)="vaciarExp()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-control">
          <label for="depa">Departamento</label>
          <div class="input-group mb-3">
            <select
              class="form-select"
              name="depa"
              [(ngModel)]="workerExample.department"
            >
              <option [ngValue]="item" *ngFor="let item of ListaDepartamentos">
                {{ item.departamentName }}
              </option>
            </select>
            <button class="btn btn btn-warning" (click)="vaciarDepa()">
              vaciar
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <!----------------------------------------------------------------------------4tafila--------------------------------------------------------------------------------------------->
    <br />
    <div class="row">
      <div class="col">
        <div class="form-control">
          <label for="depa">Nivel Escolar</label>
          <div class="input-group mb-3">
            <select class="form-select" name="level" [(ngModel)]="scholarLevel">
              <option [value]="item" *ngFor="let item of ListaScholarLevel">
                {{ item }}
              </option>
            </select>
            <button class="btn btn-warning" (click)="vaciarSch()">
              Vaciar
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="btn-group">
      <button type="submit" class="btn btn-success" (click)="filtrar()">
        Filtrar
      </button>
      <button (click)="vaciar()" class="btn btn-danger">vaciar</button>
    </div>
    <!--------------------------------------------------------------------------Fin---Campos--Filtro-------------------------------------------------------------------------------->
  </form>
</div>
<br />
<br />

<!---------------------------------------------------------------------------Tabla-Datos--------------------------------------------------------------------------------------->
<div class="position-relative">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1>Plantilla de Trabajadores</h1>
  </div>
</div>
<br />
<br />
<br />
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">CI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Apellido</th>
        <th scope="col">Raza</th>
        <th scope="col">Sexo</th>
        <th scope="col">No.Exp</th>
        <th scope="col">Tipo de Contrato</th>
        <th scope="col">lugar en la defensa</th>
        <th scope="col">organos</th>
        <th scope="col">escolaridad</th>
        <th scope="col">cargo</th>
        <th scope="col">Grupo Escala</th>
        <th scope="col">Departamento</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers">
        <td scope="col">{{ worker.ci }}</td>
        <td scope="col">{{ worker.firstName }}</td>
        <td scope="col">{{ worker.secondName }}</td>
        <td scope="col">{{ worker.lastName }}</td>
        <td scope="col">{{ worker.race }}</td>
        <td scope="col">{{ worker.sex }}</td>
        <td scope="col">{{ worker.expedientNumber }}</td>
        <td scope="col">{{ worker.contractType }}</td>
        <td scope="col">{{ worker.defensePlace }}</td>
        <td scope="col">
          <p *ngFor="let political of worker.politiclist">
            {{ political.organ }}
          </p>
        </td>
        <td scope="col">
          <p *ngFor="let scholar of worker.scholarShiplist">
            {{ scholar.scholarName }}<br />
            {{ scholar.scholarLevel }}
          </p>
        </td>
        <td scope="col">{{ worker.position?.positionName }}</td>
        <td scope="col">{{ worker.position?.scaleGroup?.scale }}</td>
        <td scope="col">{{ worker.department?.departamentName }}</td>
        <td scope="col">
          <button class="btn btn-info" (click)="updateWorker(worker.id)">
            Update
          </button>
        </td>
        <td scope="col">
          <button class="btn btn-danger" (click)="deleteWorker(worker.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

