<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
              <div>
                  <img src="./assets/logo.jpg">
              </div>
              <br>
              <h5 class="card-title text-center mb-5 fw-light fs-5"><b>SGPC Identifíquese</b></h5>
              <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                  <div class="form-floating mb-3">
                    <input
                    name="user"
                    class="form-control"
                    type="text"
                    [(ngModel)]="request.username"
                    placeholder="Usuario"
                  />
                      <label for="floatingInput">Usuario</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                    name="pass"
                    class="form-control"
                    type="password"
                    [(ngModel)]="request.password"
                    placeholder="Contraseña"
                  />
                      <label for="floatingPassword">Contraseña</label>
                  </div>
                
                  <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                      <label class="form-check-label" for="rememberPasswordCheck">
                          Recordar
                      </label>
                  </div>
                  <div class="d-grid">
               

                      <a class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"  (click)="onSubmit()">Entrar</a>
                    
                  </div>
                </form>
        
  </div>
</div>
</div>
</div>
