<div clas="container-fluid">
  <div class="position-static">
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1>Crear un Grupo Escala</h1>
      <br />
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group">
          <input name="Name"
            class="form-control"
            type="text"
            [(ngModel)]="position.positionName"
            placeholder="Nombre del Cargo"


          /><br>
          <div class="col">
            <div class="form-control">
              <label for="defense">categoria</label>
              <div class="input-group mb-3">
                <select
                  class="form-select"
                  name="cat"
                  [(ngModel)]="position.category"
                >
                  <option [value]="item" *ngFor="let item of listaCategoria">
                    {{ item }}
                  </option>
                </select>

              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col">
          <div class="form-control">
            <label for="defense">Escala</label>
            <div class="input-group mb-3">
              <select
                class="form-select"
                name="escal"
                [(ngModel)]="position.scaleGroup"
              >
                <option [ngValue]="item" *ngFor="let item of scaleList">
                  {{ item.scale }}
                </option>
              </select>

            </div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Crear</button>
      </form>
    </div>
  </div>
</div>
