<div class="container"></div>
<mat-toolbar color="">
  <mat-toolbar-row>

    <button mat-button routerLink="departamento"><mat-icon>receipt</mat-icon> Departamento</button>
    <button mat-button  routerLink="politica"><mat-icon>receipt</mat-icon>Integracion Politica</button>
    <button mat-button routerLink="grupo-escala"><mat-icon>receipt</mat-icon>Grupo Escala</button>
    <button mat-button routerLink="cargo"><mat-icon>receipt</mat-icon>Cargo</button>
    <button mat-button routerLink="escolaridad"><mat-icon>receipt</mat-icon>Escolaridad</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

