<div class="container"></div>
<mat-toolbar color="">
  <mat-toolbar-row>
    <router-outlet></router-outlet>
    <button mat-button routerLink="crear-cargo">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button><mat-icon>search</mat-icon></button>


  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<br>
<div class="position-relative">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1>Cargos</h1>
  </div>
</div>
<br>
<br>
<div class="container">
  <table class="table table-striped">
<thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Categoria</th>
    <th scope="col">Escala</th>
    <th scope="col">Actualizar</th>
    <th scope="col">Eliminar</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let position of positionsList">
      <td>{{position.positionName}}</td>
      <td>{{position.category}}</td>
      <td>{{position.scaleGroup.scale}}</td>
      <td scope="col">
        <button class="btn btn-info" (click)="update(position.id)">
          Update
        </button>
      </td>
      <td scope="col">
        <button class="btn btn-danger" (click)="delete(position.id)">
          Delete
        </button>
      </td>


    </tr>

</tbody>

  </table>

</div>

