<div class="container">

  <h1>Modifique los datos del empleado</h1>



  <form  (ngSubmit)="onSubmit()" #myform="ngForm">
    <div class="col">

       <div class="row">
       <label>Nombre</label>
       <mat-form-field appearance="fill">
       <input matInput required type="text"  name="name" [(ngModel)]="worker.firstName" >
       <mat-error>El campo es requerido</mat-error>
       </mat-form-field>
       </div>

    <div class="row">
    <label>P.Apellido:</label>
    <mat-form-field appearance="fill">
    <input matInput required type="text"  name="apellido1" [(ngModel)]="worker.secondName" >
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    </div>

    <div class="row">
    <label>S.Apellido:</label>
    <mat-form-field appearance="fill">
    <input matInput required type="text"  name="apellido2" [(ngModel)]="worker.lastName" >
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    </div>

    <div class="row">
    <label>C.Identidad:</label>
    <mat-form-field appearance="fill">
    <input  matInput type="number" required  min="10000000000" max="99999999999" name="ci" [(ngModel)]="worker.ci" #valid4="ngModel">
    <mat-error *ngIf="valid4.invalid && valid4.hasError('min')">no menos de 11 digitos</mat-error>
    <mat-error *ngIf="valid4.invalid && valid4.hasError('max')">no mas de 11 digitoss</mat-error>
    <mat-error *ngIf="valid4.invalid && valid4.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>
    </div>

    <div class="row">
      <label >Activo:</label>
      <mat-form-field appearance="fill">
      <mat-select  name="selecta" [(ngModel)]="worker.active">
      <mat-option  value="active">activo </mat-option>
      <mat-option  value="nonActive">no activo </mat-option>
      </mat-select>
      </mat-form-field>
      </div>



    <div class="row">
    <label>N.Expediente</label>
    <mat-form-field appearance="fill">
    <input matInput required type="number"  name="expedienten" [(ngModel)]="worker.expedientNumber" >
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    </div>

    <div class="row">
    <label >Sexo:</label>
    <mat-form-field appearance="fill">
    <mat-select  name="selects" [(ngModel)]="worker.sex">
    <mat-option [value]="item" *ngFor="let item of listaSexo">{{item}}</mat-option>
    </mat-select>
    </mat-form-field>
    </div>

    <div class="row">
    <label >l.Defensa:</label>
    <mat-form-field appearance="fill">
    <mat-select  name="selectd" [(ngModel)]="worker.defensePlace">
    <mat-option [value]="item" *ngFor="let item of listaDefensa">{{item}}</mat-option>
    </mat-select>
    </mat-form-field>
   </div>

    <div class="row">
    <label >Raza:</label>
    <mat-form-field appearance="fill">
    <mat-select  name="selectr" [(ngModel)]="worker.race">
    <mat-option [value]="item" *ngFor="let item of listaRaza">{{item}}</mat-option>
    </mat-select>
    </mat-form-field>
    </div>

    <div class="row">
    <label >T.Contrato:</label>
    <mat-form-field appearance="fill">
    <mat-select  name="selectco" [(ngModel)]="worker.contractType">
    <mat-option [value]="item" *ngFor="let item of listaContrato">{{item}}</mat-option>
    </mat-select>
    </mat-form-field>
    </div>

    <div class="row">
    <label >Departamento:</label>
    <mat-form-field appearance="fill">
    <mat-select  name="selectdep" [(ngModel)]="worker.department"  (click)="getDepa()">
    <mat-option [value]="worker.department">{{worker.department?.departamentName}}</mat-option>
    <mat-option [value]="item" *ngFor="let item of ListaDepartamentos">{{item.departamentName}}</mat-option>
    </mat-select>
    </mat-form-field>
    </div>

      <div class="row">
      <label >Cargo:</label>
      <mat-form-field appearance="fill">
      <mat-select  name="selectdcar" [(ngModel)]="worker.position" (click)="getPositions()" >
      <mat-option [value]="worker.position">{{worker.position?.positionName}}</mat-option>
      <mat-option [value]="item" *ngFor="let item of ListaPositions">{{item.positionName}}</mat-option>
      </mat-select>
      </mat-form-field>
      </div>

      

        <div class="row">
        <label >Escolaridad:</label>
        <mat-form-field appearance="fill">
        <mat-select  name="selectes" [(ngModel)]="worker.scholarShip" (click)="getScholar()">
          <mat-option [value]="worker.scholarShip">{{worker.scholarShip?.scholarName}}</mat-option>
        <mat-option  [value]="item" *ngFor="let item of ListaScholar">{{item.scholarName}}</mat-option>
        </mat-select>
        </mat-form-field>
        </div>

        <!------------------------------------------------------------------Direccion---------------------------------------------------------------------------------------------->
<div>
  <div class="row">
    <label >Provincia:</label>
    <mat-form-field appearance="fill" >
    <mat-select required name="selectprov" [(ngModel)]="worker.adress.province" (focusout)="getAllMun()">
    <mat-option [value]="worker.adress.province">{{worker.adress.province.name}}</mat-option>
    <mat-option [value]="item" *ngFor="let item of ListaProvincia">{{item.name
      }}</mat-option>
    </mat-select>
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    </div>
  
  
    <div class="row">
      <label >Municipio:</label>
      <mat-form-field appearance="fill" >
      <mat-select required name="selectmun" [(ngModel)]="worker.adress.municipality" >
        <mat-option [value]="worker.adress.municipality">{{worker.adress.municipality.name}}</mat-option>
      <mat-option [value]="item" *ngFor="let item of ListaMunicipios">{{item.name}}</mat-option>
      </mat-select>
      <mat-error>El campo es requerido</mat-error>
      </mat-form-field>
      </div>
  
      <div class="row">
        <mat-label>Calle:</mat-label>
        <mat-form-field appearance="fill" >
        <input matInput  type="text"   name="calle" [(ngModel)]="worker.adress.street" required #valid6="ngModel">
        <mat-error *ngIf="valid6.invalid">El campo es requerido</mat-error>
      </mat-form-field>
        </div>
  
        <div class="row">
          <mat-label>Entrecalles:</mat-label>
          <mat-form-field appearance="fill" >
          <input matInput  type="text"   name="ave" [(ngModel)]="worker.adress.avenue" required #valid7="ngModel">
          <mat-error *ngIf="valid7.invalid">El campo es requerido</mat-error>
        </mat-form-field>
          </div>
  
          <div class="row">
            <mat-label>Detalles:</mat-label>
            <mat-form-field appearance="fill" >
            <input matInput  type="text"   name="place" [(ngModel)]="worker.adress.numberOrPlace" required #valid7="ngModel">
            <mat-error *ngIf="valid7.invalid">El campo es requerido</mat-error>
          </mat-form-field>
            </div>
  
      
  
  </div>
  
  <!------------------------------------------------------------------Direccion---------------------------------------------------------------------------------------------->
  

      </div>
  <br>
  <div >
  <button class="btn btn-success" type="submit">Actualizar</button>
  </div>


  </form>
  </div>

