<div class="container"></div>
<mat-toolbar color="">
  <mat-toolbar-row>
    <router-outlet></router-outlet>
    <button mat-button routerLink="crear-escolaridad">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button><mat-icon>search</mat-icon></button>


  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<br>
<div class="position-relative">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1>Escolaridades</h1>
  </div>
</div>
<br>
<br>
<div class="container">
  <table class="table table-striped">
<thead>
  <tr>

    <th scope="col">Titulo</th>
    <th scope="col">Nivel</th>
    <th scope="col">Actualizar</th>
    <th scope="col">Eliminar</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let scholar of scholarList">
      <td>{{scholar.scholarName}}</td>
      <td>{{scholar.scholarLevel}}</td>
      <td scope="col">
        <button class="btn btn-primary"  (click)="update(scholar.id)">
          <mat-icon>loop</mat-icon>
        </button>
      </td>
      <td scope="col">
        <button class="btn btn-danger" (click)="delete(scholar.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>


    </tr>

</tbody>

  </table>

</div>

