<div clas="container-fluid">
  <div class="position-static">
    <div class="position-absolute top-50 start-50 translate-middle">
      <h1>Crear un Grupo Escala</h1>
      <br />
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
         <div class="col">
        <div class="row">
          <mat-form-field appearance="fill">
          <input matInput required name="depaName"  type="text" [(ngModel)]="scale.scale" placeholder="Nombre del Grupo" />
          <mat-error>El campo es requerido</mat-error>
          </mat-form-field>
          </div>

          <br>
        <div class="row">
          <mat-form-field appearance="fill">
          <input matInput required name="salary"  type="number" [(ngModel)]="scale.salary" placeholder="Salario" />
          <mat-error>El campo es requerido</mat-error>
        </mat-form-field>
        </div>
        <br />
        <button [disabled]="!myForm.valid" type="submit" class="btn btn-success">Crear</button>
      </div>
      </form>
    </div>
  </div>
</div>
