

<div class="container">
  
<h1>Introduzca los datos del nuevo empleado</h1>



<form  (ngSubmit)="onSubmit()" #myform="ngForm">

   <div class="col">

  <div class="row">
    <mat-label>Nombre:</mat-label>
    <mat-form-field appearance="fill" >
    <input matInput  type="text"   name="name" [(ngModel)]="worker.firstName" required #valid1="ngModel">
    <mat-error *ngIf="valid1.invalid">El campo es requerido</mat-error>
  </mat-form-field>
    </div>
    <br>

 <div class="row">
  <label>P.Apellido:</label>
  <mat-form-field appearance="fill" >
  <input matInput type="text"  name="apellido1" [(ngModel)]="worker.secondName" required #valid2="ngModel">
  <mat-error *ngIf="valid2.invalid">El campo es requerido</mat-error>
  </mat-form-field >
</div>

<div class="row">
  <label>S.Apellido:</label>
  <mat-form-field appearance="fill" >
  <input matInput type="text" required  name="apellido2" [(ngModel)]="worker.lastName" #valid3="ngModel" >
  <mat-error *ngIf="valid3.invalid">El campo es requerido</mat-error>
 </mat-form-field>
 </div>
  <br>



<div class="row">

  <label>C.Identidad:</label>
  <mat-form-field appearance="fill" >
  <input matInput type="number" required  min="10000000000" max="99999999999"  name="ci" [(ngModel)]="worker.ci" #valid4="ngModel" (keyup)="findByCi()" (click)="findByCi()" (auxclick)="findByCi()">
  <mat-error *ngIf="valid4.invalid && valid4.hasError('min')">no menos de 11 digitos</mat-error>
  <mat-error *ngIf="valid4.invalid && valid4.hasError('max')">no mas de 11 digitoss</mat-error>
  <mat-error *ngIf="valid4.valid && valid4.hasError('required')">Campo requerido</mat-error>


  </mat-form-field>
  </div>
  <br>

<div class="row" >
  <label>N.Expediente:</label>
  <mat-form-field appearance="fill" >
  <input matInput type="number" required=""  name="expedienten" [(ngModel)]="worker.expedientNumber" #valid5="ngModel">
  <mat-error *ngIf="valid5.invalid && valid5.hasError('required')">Campo requerido</mat-error>
 </mat-form-field>
</div>
<br>

<div  class="row">
  <label >Sexo:</label>
  <mat-form-field appearance="fill" >
  <mat-select   required  name="selects" [(ngModel)]="worker.sex"  #valid6="ngModel">
  <mat-option selected></mat-option>
  <mat-option  [value]="item" *ngFor="let item of listaSexo">{{item}}</mat-option>
  </mat-select>
  <mat-error *ngIf="valid5.invalid && valid6.hasError('required')">Campo requerido</mat-error>
  </mat-form-field>
</div>
<br>

<div class="row">
<label >L.Defensa:</label>
<mat-form-field appearance="fill" >
<mat-select required  name="selectd" [(ngModel)]="worker.defensePlace">
<mat-option selected></mat-option>
<mat-option [value]="item" *ngFor="let item of listaDefensa">{{item}}</mat-option>
</mat-select>
<mat-error>El campo es requerido</mat-error>
</mat-form-field>
</div>
<br>

<div class="row" >
  <label >Raza:</label>
  <mat-form-field appearance="fill" >
  <mat-select required name="selectr" [(ngModel)]="worker.race">
  <mat-option selected ></mat-option>
  <mat-option [value]="item" *ngFor="let item of listaRaza">{{item}}</mat-option>
  </mat-select>
  <mat-error>El campo es requerido</mat-error>
 </mat-form-field>
</div>
<br>

<div  class="row">
  <label >T.contrato:</label>
  <mat-form-field appearance="fill" >
  <mat-select required name="selectco" [(ngModel)]="worker.contractType">
    <mat-option selected ></mat-option>
    <mat-option [value]="item" *ngFor="let item of listaContrato">{{item}}</mat-option>
    </mat-select>
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
</div>
<br>

<div class="row">
<label >Departamento:</label>
  <mat-form-field appearance="fill" >
  <mat-select required  name="selectdep" [(ngModel)]="worker.department">
  <mat-option selected ></mat-option>
  <mat-option [value]="item" *ngFor="let item of ListaDepartamentos">{{item.departamentName}}</mat-option>
  </mat-select>
  <mat-error>El campo es requerido</mat-error>
  </mat-form-field>
</div>
<br>

  <div class="row">
  <label >Cargo:</label>
  <mat-form-field appearance="fill" >
  <mat-select required  name="selectdcar" [(ngModel)]="worker.position">
  <mat-option selected ></mat-option>
  <mat-option [value]="item" *ngFor="let item of ListaPositions">{{item.positionName}}</mat-option>
  </mat-select>
  <mat-error>El campo es requerido</mat-error>
  </mat-form-field>
  </div>
  <br>

  

        <div class="row">
        <label >Escolaridades:</label>
        <mat-form-field appearance="fill" >
        <mat-select required name="selectes" [(ngModel)]="worker.scholarShip" >
        <mat-option [value]="item" *ngFor="let item of ListaScholar">{{item.scholarName}}</mat-option>
        </mat-select>
        <mat-error>El campo es requerido</mat-error>
        </mat-form-field>
        </div>

      </div>
<br>
<!------------------------------------------------------------------Direccion---------------------------------------------------------------------------------------------->
<div>
<div class="row">
  <label >Provincia:</label>
  <mat-form-field appearance="fill" >
  <mat-select required name="selectprov" [(ngModel)]="province" (focusout)="getAllMun()">
  <mat-option [value]="item" *ngFor="let item of ListaProvincia">{{item.name
    }}</mat-option>
  </mat-select>
  <mat-error>El campo es requerido</mat-error>
  </mat-form-field>
  </div>


  <div class="row">
    <label >Municipio:</label>
    <mat-form-field appearance="fill" >
    <mat-select required name="selectmun" [(ngModel)]="municipality" >
    <mat-option [value]="item" *ngFor="let item of ListaMunicipios">{{item.name
      }}</mat-option>
    </mat-select>
    <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    </div>

    <div class="row">
      <mat-label>Calle:</mat-label>
      <mat-form-field appearance="fill" >
      <input matInput  type="text"   name="calle" [(ngModel)]="street" required #valid6="ngModel">
      <mat-error *ngIf="valid6.invalid">El campo es requerido</mat-error>
    </mat-form-field>
      </div>

      <div class="row">
        <mat-label>Entrecalles:</mat-label>
        <mat-form-field appearance="fill" >
        <input matInput  type="text"   name="ave" [(ngModel)]="avenue" required #valid7="ngModel">
        <mat-error *ngIf="valid7.invalid">El campo es requerido</mat-error>
      </mat-form-field>
        </div>

        <div class="row">
          <mat-label>Detalles:</mat-label>
          <mat-form-field appearance="fill" >
          <input matInput  type="text"   name="place" [(ngModel)]="numberOrPlace" required #valid7="ngModel">
          <mat-error *ngIf="valid7.invalid">El campo es requerido</mat-error>
        </mat-form-field>
          </div>

    

</div>

<!------------------------------------------------------------------Direccion---------------------------------------------------------------------------------------------->

<div >
<button class="btn btn-success" type="submit">Agregar</button>
</div>


</form>
</div>


