<mat-toolbar >
  <mat-toolbar-row><app-worker-detail-report [HtmlElementInput]="HtmlElementToReport"  [workerInput]="WorkerToReport"></app-worker-detail-report></mat-toolbar-row>
</mat-toolbar>



<div class="container" id="details">
  <mat-card-header><h5>Detalles Del Trabajador</h5></mat-card-header>
<mat-card>
  <mat-card-content>
      <br>
      <br>
      <br>
      <h6><label ><b>Nombre:</b> </label>{{worker.firstName}}</h6>
      <h6><label ><b>Apellidos:</b> </label>{{worker.secondName}} {{worker.secondName}}</h6>
      <h6 ><label ><b>Dni</b>:</label> {{ worker.ci }}</h6>
      <h6 ><label ><b>Raza:</b></label>{{ worker.race }}</h6>
      <h6 ><label ><b>Sexo:</b></label>{{ worker.sex }}</h6>
      <h6 ><label ><b>Número de expediente:</b></label>{{ worker.expedientNumber }}</h6>
      <h6 ><label ><b>Tipo de contrato:</b></label>{{ worker.contractType }}</h6>
      <h6 ><label ><b>Lugar en la defensa:</b></label>{{ worker.defensePlace }}</h6>
      <h6 ><label ><b>Nivel Escolar:</b></label>{{ worker.scholarShip?.scholarLevel }}</h6>
      <h6 ><label ><b>Especialidad:</b></label>{{ worker.scholarShip?.scholarName }}</h6>
      <h6 ><label ><b>Cargo:</b></label>{{ worker.position?.positionName }}</h6>
      <h6 ><label ><b>Grupo Escala:</b></label>{{ worker.position?.scaleGroup?.scale }}</h6>
      <h6 ><label ><b>Departamento:</b></label>{{ worker.department?.departamentName }}</h6>
      <h6 ><label ><b>Alta/Baja:</b></label> {{ worker.active}} </h6>


    </mat-card-content>
    </mat-card>


  </div>




